# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.envrc

# VSCode
.vscode/

# CSVs
*.csv

# Oracle bigtables utils
utils/extract_oracle_bigtables/chunk_*.csv
utils/extract_oracle_bigtables/final.csv

# OS
.DS_Store
Thumbs.db
